html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-radio__label {
    font-size: 18px;
}

.el-form-item__label {
    font-size: 18px;
}

/*给级联选择器设置高度，否则会超出屏幕*/
.el-cascader-panel {
    height: 300px;
}

.el-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
}

.el-drawer {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.15) !important;
}

.el-drawer__body {
    padding: 5px;
}

.el-tooltip__popper {
    max-width: 300px;
}

.el-table th {
    text-align: center;
}

.bts {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
